* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: block;
  max-width: 1000px;
  min-width: 375px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

.container-alpaca {
  margin: auto;
  padding: 25px;
  max-width: 720px;
}
.alpaca {
  position: relative;
  padding-top: 100%;
}

.styles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.styles img{
  width: 100%;
  height: 100%;
}

.button-choice,
.selected {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #5D6063;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 11px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px;
  min-height: .5rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button-choice:hover,
.selected:hover,
.selected:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-choice:hover,
.selected:hover {
  transform: translateY(-1px);
}

.button-choice:active,
.selected:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.selected,
.selected:active,
.selected:focus,
.selected:hover {
  background: #FF4742;
  color: #FFFFFF;
}

@media only screen and (min-width: 620px) {
  main {
    display: flex;
    padding-top: 25px;
  }
  .container-alpaca {
    width: 720px;
    min-width: 300px;
    padding: 10px;
  }
  .app {
    max-width: 1200px;
  }
  .choices {
    padding: 10px;
    max-width: 600px;
    min-width: 300px;
  }
}
